h1{
    color: crimson;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-size: 40pt;
    text-align: center;
}

h3{
    color: rgb(27, 27, 89);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-size: 20pt;
}
h3:hover{
    color: #ff860c;
    font-size: 22pt;
}

h4{
    font-size: 15pt;
}
body{
        background: linear-gradient(to right, #a6ff00, #0095ff);
      
}